{% load eventcalendar_tags %}
  <div class="ng-form-row {{ field.css_classes }}">
    {{ field.label_tag|add_class:"ng-form-label" }}
    {% if field.help_text %}
    <p class="ng-form-help-block">{{ field.help_text }}</p>
    {% endif %}
    {% if field.errors %}
    <p class="ng-text-danger">{{ field.errors|join:"<br \>" }}</p>
    {% endif %}
    {% if field.name == "start_date" %}
        <div class="ng-form-icon">
            <i class="ng-icon-calendar"></i>
    {% endif %}
    {{ field|add_class:"ng-form-control ng-width-1-1" }}
    {% if field.name == "start_date" %}
        </div>
    {% endif %}
  </div>
