{% load i18n admin_urls admin_static %}
{% load crispy_forms_tags eventcalendar_tags %}

{# Variables: empty #}

<div class="inline-related ng-panel ng-panel-box-secondary{% if empty %} empty-form last-related{% endif %}" id="{{ formset.prefix|replace:"__prefix__|" }}{% if empty %}empty{% endif %}">
    <h4 class="ng-panel-title">Schedule <span class="inline_label">#{{ forloop.counter }}{% if empty %}0{% endif %}</span></h4>
    {% crispy formset schedule_helper %}
</div>
