{% extends "eventcalendar/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

        {% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "eventcalendar/bootstrap-datepaginator.css" %}">
        {% endblock %}


{% block body %}
<h1>Upcoming Events</h1>
{% include "_widgets/_calendar_pagination.html" %}
<div> {# Just to offset the closing div in the ifchanged block #}
{% for occurrence in page_obj %}
    {% ifchanged %}
        </div>
        <h3>{{ occurrence.start_time|date:"l F j, Y" }}</h3>
        <div class="ng-grid-width-small-1-2 ng-grid-width-small-1-3 ng-grid-width-medium-1-4" data-ng-grid="{gutter: 20}" id="event-list-{{ occurrence.start_time|date:"Y-m-d" }}">
    {% endifchanged %}
    {% include "_widgets/_occurrence_tile.html" with object=occurrence include_date=True %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>
<script type="text/javascript" src="{% static "eventcalendar/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "eventcalendar/ngkit-datepaginator.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $('#date-paginator').datepaginator({startDate: moment().format('YYYY-MM-DD')});
    });
</script>

{% endblock %}
