{% if field.help_text %}
    {% if help_text_inline %}
        <span id="hint_{{ field.auto_id }}" class="help help-block">{{ field.help_text|safe }}</span>
    {% else %}
        <p id="hint_{{ field.auto_id }}" class="help help-block">{{ field.help_text|safe }}</p>
    {% endif %}
{% endif %}
