{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->
        {% if LANGUAGE_BIDI %}
        <style type="text/css" media="screen">
            div.right_panel {
                float: left; /* hotfix for sidebar */
            }
        </style>
        {% endif %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static "css/ngkit.min.css" %}">
        <link rel="stylesheet" href="{% static "eventcalendar/ion.rangeSlider.css" %}">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="{% static "js/ngkit.js" %}"></script>
        {% block extra_head %}
        {% endblock %}

    </head>

    <body>

        <div class="ng-container ng-container-center ng-margin-top ng-margin-large-bottom">

            <nav class="ng-navbar ng-margin-large-bottom">
                <a class="ng-navbar-brand ng-hidden-small" href="layouts_frontpage.html">Brand</a>
                <ul class="ng-navbar-nav ng-hidden-small">
                    <li class="ng-active">
                        <a href="/">Frontpage</a>
                    </li>
                    <li>
                        <a href="/events/">Events</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}<div class="ng-navbar-content">
                    Hello {{ user.username }}!
                </div>
                <ul class="ng-navbar-nav ng-hidden-small">
                    <li>
                        <a href="/logout/">
                            <i class="ng-icon-sign-out"></i> Logout
                        </a>
                    </li>
                </ul>
                {% else %}
                <ul class="ng-navbar-nav ng-hidden-small">
                    <li>
                        <a href="/login/">Login</a>
                    </li>
                </ul>
                {% endif %}
                <a href="#offcanvas" class="ng-navbar-toggle ng-visible-small" data-ng-offcanvas></a>
                <div class="ng-navbar-brand ng-navbar-center ng-visible-small">Brand</div>
            </nav>

            <div class="ng-grid" data-ng-grid-margin>
                <div class="ng-width-medium-1-1">
{% block body %}

{% endblock body %}
                </div>
            </div>


        </div>

        <div id="offcanvas" class="ng-offcanvas">
            <div class="ng-offcanvas-bar">
                <ul class="ng-nav ng-nav-offcanvas">
                    <li class="ng-active">
                        <a href="/">Frontpage</a>
                    </li>
                    <li>
                        <a href="/events/">Events</a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            Hello {{ user.username }}!
                        <a href="/logout/">
                            <i class="ng-icon-sign-out"></i>
                            Logout
                        </a>
                        {% else %}
                            <a href="/login/">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>


        <div id="footer">{% block footer %}{% endblock %}</div>

    </body>
</html>
