{% extends "site_base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}
<div class="ng-grid">
    <div class="ng-width-medium-1-2">
        <img src="{% static "images/events.png" %}" alt="Events">
    </div>
    <div class="ng-width-medium-1-2">
        <h1>Event Calendar</h1>
    </div>
</div>

{% endblock %}
