{% extends "site_base.html" %}
{% load backend_utils %}

{% block body %}
    <div class="buttons">
      {% if user.is_authenticated %}
        <div class="user-details">
          You are logged in as <code>{{ user.username }}</code>!
                  <a class="ng-button ng-button-primary" href="/logout/">
          <i class="ng-icon-sign-out"></i>
          Logout
        </a>

        </div>
      {% endif %}

      <div class="social">
        {% for sublist in available_backends|social_backends %}
          <div class="row">
            {% for name, backend in sublist %}
              {% associated backend %}
              {% if association %}
                <form class="disconnect-form col-md-2" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}" method="post">{% csrf_token %}
                  <a class="ng-button ng-button-danger" name="{{ backend|backend_class }}" href="#">
                    <i class="ng-icon-{{ name|icon_name }}"></i>
                    Disconnect {{ backend|backend_name }}
                  </a>
                </form>
              {% else %}
                <a class="col-md-2 ng-button ng-button-default" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}">
                  <i class="ng-icon-{{ name|icon_name }}"></i>
                  {{ backend|backend_name }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>

      <div class="legacy">
        {% for name, backend in available_backends|legacy_backends %}
          {% associated backend %}
          {% if association %}
            <form class="disconnect-form" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}" method="post">{% csrf_token %}
              <a class="ng-button ng-button-danger" name="{{ backend|backend_class }}" href="#">
                <i class="ng-icon-{{ name|icon_name }}"></i>
                Disconnect {{ backend|backend_name }}
              </a>
            </form>
          {% else %}
            <a class="ng-button ng-button-default" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}">
              <i class="ng-icon-{{ name|icon_name }}"></i>
              {{ backend|backend_name }}
            </a>
          {% endif %}
        {% endfor %}
      </div>

      <div>
      </div>
    </div>

{% endblock body %}