<div class="ng-accordion" data-ng-accordion="{target: '#{{ div.css_id }}'}" {% if div.active %}class="ng-active"{% endif %}>
<a href="#"><i class="ng-icon-disclosure"></i> {{ div.name }}</a>
</div>
<div id="{{ div.css_id }}" class="ng-panel-tab-content{% if not div.active %} ng-hidden{% endif %}" >
    <div class="panel-body">
        {{ fields|safe }}
    </div>
</div>

