{# Required vars: form #}

<form class="ng-form ng-form-horizontal" id="filterform" method="GET" action="">
    <div class="ng-form-icon ng-width-1-1">
        <i class="ng-icon-search"></i>
        <input name="{{ form.q.name }}" id="{{ form.q.id_for_label }}" class="ng-width-1-1" type="search" placeholder="Search for..." style="box-sizing: border-box">
    </div>
    <div data-ng-accordion="{target:'#advancedfilter'}" class="ng-margin-small-top">
        <a href="" class="ng-unstyled"><i class="ng-icon-disclosure"></i> <i class="ng-icon-sliders"></i> Advanced Filtering</a>
    </div>
    <div id="advancedfilter" class="ng-hidden ng-panel ng-panel-box">
        <div class="ng-form-row">
            <label class="ng-form-label" for="id_start_date">Between</label><div class="ng-form-controls">{{ form.start_date }} and {{ form.end_date }}</div>
        </div>
        <div class="ng-form-row">
            <label class="ng-form-label" for="id_distance">Within</label> <div class="ng-form-controls ng-form-controls-text">{{ form.distance }} from {{ form.address }} or {{ form.use_current_location }} <label for="id_use_current_location">Use current location</label>{{ form.latitude}} {{ form.longitude }}</div>
        </div>
        <div class="ng-form-row">
            <label class="ng-form-label" for="id_neighborhoods">Neighborhoods</label> <div class="ng-form-controls">{{ form.neighborhoods }}</div>
        </div>
        <div class="ng-form-row">
            <label class="ng-form-label" for="id_categories">Categories</label> <div class="ng-form-controls">{{ form.categories }}</div>
        </div>
    </div>
</form>