{# requires variable: object_list #}

<div> {# Just to offset the closing div in the ifchanged block #}
{% for occurrence in object_list %}
    {% ifchanged %}
        </div>
        <h3>{{ occurrence.start_time|date:"l F j, Y" }}</h3>
        <div class="ng-grid-width-small-1-2 ng-grid-width-medium-1-3 ng-margin-top" data-ng-grid="{gutter: 20}" id="event-list-{{ occurrence.start_time|date:"Y-m-d" }}">
    {% endifchanged %}
    {% include "_widgets/_occurrence_tile.html" with object=occurrence include_date=True %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>
